
<div class="lateral-nav">
  <div id="logo">
    <a class="nav-link text-light" aria-current="page" href="#">Worship Manager</a>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-light active" aria-current="page" href="#">Gerenciar Participantes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="#">Visualizar Participantes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light active" aria-current="page" href="#">Agenda</a>
  </li>
</ul>
</div>