<%- include("partials/header.ejs") %>

<main>
    <!-- <h1>Agenda de mensagens musicais</h1> -->
    <div id="container">
        <div class="schedule">
            <div class="nav-schedule">
                <div>
                    <button class="btn btn-primary" id="left-arrow"><i class="fa-solid fa-arrow-left"></i></button>
                    <p id="nav-schedule-info"></p>
                    <button class="btn btn-primary" id="right-arrow"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div id="calendar"></div>
        </div>  
        
        <!-- <div id="posts"></div> -->
        <div id="container-form">
            <div>
                <h1>Novo Participante</h1>
                <form action="/submit" method="POST">
                    <div class="mb-3">
                        <label for="singerName" class="form-label">Convidado</label>
                        <input type="text" class="form-control" id="singerName" aria-describedby="singerHelp" autofocus>
                        <div id="singerHelp" class="form-text">De preferência o nome completo.</div>
                    </div>
                    <div class="mb-3">
                        <label for="inviterName" class="form-label">Anfitrião</label>
                        <input type="text" class="form-control" id="inviterName" aria-describedby="inviterHelp">
                        <div id="inviterHelp" class="form-text">O nome da pessoa que convidou.</div>
                    </div>
                    <div class="mb-3">
                        <label for="churchName" class="form-label">Igreja</label>
                        <input type="text" class="form-control" id="churchName" aria-describedby="churchHelp">
                        <div id="churchHelp" class="form-text">Ex.: Marco I</div>
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Data</label>
                        <input type="text" class="form-control" id="date">
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</main>

<%- include("partials/footer.ejs") %>