<%- include("partials/header.ejs") %>

<main>
    <!-- <h1>Agenda de mensagens musicais</h1> -->
    <div class="container">
        <div class="schedule">
            <div class="nav-schedule">
                <div>
                    <button><i id="left-arrow" class="fa-solid fa-arrow-left"></i></button>
                    <p id="nav-schedule-info"></p>
                    <button><i id="right-arrow" class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        <div id="calendar"></div>
        </div>  
        
        <div id="posts"></div>
        
        <div id="container-form"></div>
    </div>
</main>

<%- include("partials/footer.ejs") %>