:root {
    --blue-dark: rgb(52, 67, 150);
    --blue-medium-dark: rgb(78, 89, 175);
    --blue-medium: rgb(103, 112, 201);
    --blue-medium-light: rgb(129, 134, 226);
    --blue-light: rgb(154, 156, 251);
}

.lateral-nav {
    width: 200px;
    height: 100%;
    background-color: var(--blue-dark);
    border-radius: 10px;
}

#logo {
    font-size: 2rem !important;
    font-weight: bold !important;
    text-decoration: none !important;
    list-style: none !important;
    padding: 20px;
}



li:hover {
    background-color: var(--blue-medium);
}