* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.schedule {
    background-color: orange;
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 800px;
    flex-grow: 1;

}

.nav-schedule {
    display: flex;
    justify-content: center;
}
.nav-schedule > div {
    background-color: aquamarine;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 365px;
    height: 50px;
}

.nav-schedule > div > button {
    cursor: pointer;
}

#calendar {
    display: flex;
    background-color: bisque;
    
}
#weeks-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    /* max-width: 800px; */
    background-color: aquamarine;

    
}

.week, .week-days-labels {
    display:  flex;
    gap: 10px;
}

.day, .day-name {
    /* background-color: orange; */
    flex-grow: 1;
    flex-basis: 0;
    width: (10/100)px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.day {
    height: 50px;
}